gc2-archives {
	max-width: 60rem;
	margin: auto;
	display: flex;
    flex-direction: column;
}

gc2-archives form {
    display: flex;
}

gc2-archives form input{
   flex-grow: 1;
}

.gc2-archives-search-results {
    flex-direction: column;
}

gc2-post-tribune {
	width: 8em;
	border: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    padding-right: 5px;
    padding-left: 5px;
    color: #25662D;
    display: inline-block;
    overflow-wrap: break-word;
    vertical-align: text-top;
}