gb3-posts {
    display: flex;
    flex-direction: column;
}

gb3-post:nth-of-type(odd) {
	background-color: #FBFBFB;
}

gb3-post>gb3-norloge {
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	color: black;
	font-weight: bold;
	white-space: nowrap;
	display: inline-block;
	vertical-align: text-top;
    margin: auto;
    cursor:pointer;
}

gb3-tribune {
	color: #007700
}

gb3-message gb3-norloge {
    color: #5F7FBF;
    cursor: pointer;
}

gb3-post>gb3-moule {
	padding-right: 5px;
	padding-left: 5px;
	color: #833;
	display: inline-block;
	word-break: break-all;
	vertical-align: text-top;
        margin: auto;
        cursor: pointer;
}

gb3-message {
	padding-right: 5px;
	padding-left: 5px;
	color: black;
	word-break: break-all;
	display: inline-block;
	vertical-align: text-top;
        margin: auto;
}

gb3-message a {
	font-weight: bold;
	color: #1690f3;
}

gb3-message a:hover {
	text-decoration: underline;
}

gb3-message a:visited {
	color: #0b78d0;
}

gb3-message cite {
	border: 1px solid #F00;
        cursor: pointer;
}

gb3-message cite:after {
	content: '<';
}

.highlighted {
    background-color: #FFD202 !important;
}

figure {
        display: inline;
	position: relative;
	font-weight: bold;
	color: #0A1;
        margin: unset;
}

figure img {
	display: none;
}

figure:hover img {
	display: inline;
	position: absolute;
	top: 100%;
}

mark {
    background-color: black;
    color: black;
}

mark:hover {
    background-color: inherit;
}

gb3-revealed-spoiler {
    background-color: inherit;
    color: red;
}

gb3-bigorno {
	border: 1px solid #F00;
}

.posts-enter-active, .posts-leave-active {
  transition: all 1s;
}
.posts-enter, .posts-leave-to {
  opacity: 0;
  transform: translateX(100%);
}