body {
	background-color: #eeeeee
}

gc2-main {
	max-width: 60rem;
	margin: auto;
	display: flex;
}

gc2-menu {
	max-width: 60rem;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.gb3-postorder-reverse-chronological {
	flex-direction: column;
}

.gb3-postorder-chronological {
	flex-direction: column-reverse;
}

.gc2-controls {
	display: flex;
}

.gc2-controls input {
	flex-grow: 1
}

gc2-tribune {
	display: flex;
	color: #007700;
}

.gb3-postorder-reverse-chronological gc2-tribune {
	flex-direction: column;
}

.gb3-postorder-chronological gc2-tribune {
	flex-direction: column-reverse;
}

gc2-post:nth-of-type(even) {
	background-color: #FFFFFF;
}

gc2-post:nth-of-type(odd) {
	background-color: #FBFBFB;
}

gc2-post-norloge {
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	color: black;
	font-weight: bold;
	white-space: nowrap;
	display: inline-block;
	vertical-align: text-top;
	margin: auto;
	cursor: pointer;
}

gc2-message gc2-norloge {
	color: #5F7FBF;
	cursor: pointer;
}

gc2-moule {
	padding-right: 5px;
	padding-left: 5px;
	color: #833;
	display: inline-block;
	word-break: break-all;
	vertical-align: text-top;
	margin: auto;
	cursor: pointer;
}

gc2-message {
	padding-right: 5px;
	padding-left: 5px;
	color: black;
	word-break: break-all;
	display: inline-block;
	vertical-align: text-top;
	margin: auto;
}

gc2-message a {
	font-weight: bold;
	color: #1690f3;
}

gc2-message a:hover {
	text-decoration: underline;
}

gc2-message a:visited {
	color: #0b78d0;
}

gc2-message cite {
	border: 1px solid #F00;
	cursor: pointer;
}

gc2-message cite:after {
	content: '<';
}

.gc2-highlighted {
	background-color: #FFD202 !important;
}

.gc2-totoz-search-results {
	display: flex;
	flex-wrap: wrap;
}

.gc2-totoz-search-results figure:hover {
	background: #d7d2d2;
}

.gc2-emoji-search-results {
	display: flex;
	flex-wrap: wrap;
}

.gc2-emoji-search-results figure:hover {
	background: #d7d2d2;
}

gc2-totoz {
	display: inline;
	position: relative;
	font-weight: bold;
	color: #0A1;
	margin: unset;
}

gc2-totoz img {
	display: none;
}

gc2-totoz:hover img {
	display: inline;
	position: absolute;
	top: 100%;
}

gc2-spoiler {
	background-color: black;
	color: black;
}

gc2-spoiler:hover {
	background-color: inherit;
}

gc2-revealed-spoiler {
	background-color: inherit;
	color: red;
}

gc2-bigorno {
	color: #D00;
	font-weight: bold;
}

gc2-bigorno::after {
	content: "📣"
}

.gc2-loading {
	background-image: url("/img/loading.svg");
	background-repeat: no-repeat;
	background-position: right;
}

@media only screen and (max-device-width: 480px) {
	.gc2-controls select {
		display: none;
	}
}